.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
}

// search


// action
.action {
    display: flex;
    align-items: center;
}

.action-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 2rem;
    color: #161823;
    padding: 4px 10px;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 2px 8px;
    background-color: transparent;
    cursor: pointer;
}

// avatar 
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

